.git
.gitignore
.dockerignore
**/.env
**/.env.*
**/README.md


**/.DS_Store
**/Thumbs.db
**/.vscode
**/.idea
**/*.iml


**/node_modules
**/dist
**/build
**/.next
**/npm-debug.log*

**/build
**/out
**/target
**/.mvn
**/gradlew

**/__pycache__
**/*.py[cod]
**/.venv
**/venv
**/env
**/.pytest_cache