* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.SignupBackground{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    width: 100vw; height: 100vh;
    background: linear-gradient(
    224.86deg,
    rgba(213, 218, 240, 1) 0%,
    rgba(41, 110, 223, 1) 100%);
}
.SignupBox{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: rgba(236, 240, 248, 0.6);
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 30px 50px;
    gap: 10px;
}
.Signupheader{
    font-size: 13px;
    color: #4953BE;
    margin-bottom: 20px;
}
.Signup1, .Signup2 , .Signup3 {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 530px;
}
.Signup0{
    display: flex; 
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    gap: 15px; 
    width: 530px;
}
.Signup3 form {
    display: flex; 
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    gap: 15px; 
    width: 530px;
    margin-top: 15px;
}
.Signup3 form input{
    background-color: antiquewhite;
}
div {
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    gap: 20px;
}
label {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    padding: auto;
    color: #000;
}
.Signup1 label {width: 20%; }

.Signup2 label {width: 20%;}

.Signup3 label {width: 40%;}
input{
    width: quto;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.Signupsubbutton{
    width: 120px;
    height: 40px;
    padding: auto;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: gray;
    color:white;
}
.Signupbutton{
    background-color: #4953BE;
    border-radius: 10px;
    border: none;
    color:white;
    width: 100%;
    height: auto;
    height: auto;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.SignupBackground nav{margin-top: 15px;}
