#root {
  max-width: 1280px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}
.login-background {
  margin : 0;
  padding : 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #3c79fe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  background-color: white;
  padding: 20px 30px 0px 30px;
  border-radius: 20px;
  width: 800px;
  height: 500px;
  font-family: "Roboto-ExtraBold", sans-serif;
  font-size: 30px;
}
.login-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px; 
}
.login-select button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  background-color: #f5f5f5;
  border : none;
  border-radius: 10px;
  color: black;
  font-family: "Roboto-ExtraBold", sans-serif;
  font-weight: 700;
  width: 350px; 
  height: 80px;
  margin: 30px 10px;
  padding: 10px;
}
.login-select button img {
  width: auto;
  height: 70%;
}
.login-input {
  display: flex;
  flex-direction: column;  
  align-items: center; 
  justify-content: center;  
}
.login-input input {
  width: 50%;  
  font-size: 30px;
  padding: 10px;
  margin: 20px;
  border : 5px solid #d0dfff;
  border-radius: 12px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;

}
.login-input button {
  margin: 20px 20px 20px 20px;
  background-color: #d0dfff;  
  color:black;
  font-weight: bold;
}
