@charset "utf-8";

button {
    cursor: pointer;
}

body {
    margin: 0;
}

.box {
    border-radius: 15px 15px 15px 15px;
    background: #f0f0f0;
    width: 1000px;
}

.box .header {
    border-radius: 15px 15px 0 0;
    background: #d9d9d9;
    width: 1000px;
    text-align: left;
    padding: 15px 30px 15px 30px;
    font-family: "Roboto-ExtraBold", sans-serif;    
    font-size: 25px;
}

.box .top-right {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.box .body {
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

.box .body .name {
    margin-left: 20px;
}

.box .body .right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.box .footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
    gap: 10px;
}

.complete {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #d9d9d9;
}

.delete {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #d9d9d9;
}

.help {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #d9d9d9;
}

.help-icon-state,
.help-icon-bedge {
    display: none;
    position: absolute;
}
